@{
    ViewBag.Title = "Contact";
}

<div class="container text-center">
    <h2>Contactgegevens</h2>
    <p><em>Medewerkers NETwerk</em></p>
    <p></p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Greetje Vanhoutte</strong></p>
            <br>
             <img src="~/Content/images/DataManagers/greetje.jpg" class="img-circle person" alt="Greetje" height="80" width="80" />
            <br />
            <a href="mailto:Greetje.Vanhoutte@uza.be"><span class="glyphicon glyphicon-envelope"></span> Greetje.Vanhoutte@uza.be</a>
        </div>
        <div class="col-sm-4">
            <p><strong>Lesley De Backer</strong></p>
            <br>
            <img src="~/Content/images/DataManagers/lesley.jpg" class="img-circle person" alt="Lesley" height="80" width="80" />
            <br />
            <a href="mailto:lesley.Debacker@uza.be"><span class="glyphicon glyphicon-envelope"></span> lesley.Debacker@uza.be</a>
        </div>
        <div class="col-sm-4">
            <p><strong>Dr. Timon Vandamme</strong></p>
            <br>
            <img src="~/Content/images/DataManagers/timon.jpg" class="img-circle person" alt="Timon" height="80" width="80" />
            <br />
            <a href="mailto:timon.vandamme@uantwerpen.be"><span class="glyphicon glyphicon-envelope"></span> timon.vandamme@uantwerpen.be</a>
        </div>
    </div>
</div>
