@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Netwerk</h1>
    <p class="lead">Welkom op onze website, uw tool om een registratie in ons netwerk vlot te laten verlopen. </p>
    <p><a href="@Url.Action("IndexPatients", "Patients")" class="btn btn-primary btn-lg"> Naar registratie &raquo;</a>
</div>

