
@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2><i>Onze partners..</i></h2>
    <div class="row text-center">
        <img src="~/Content/images/Centrums/zna.jpg" width="200" height="100" />
        <img src="~/Content/images/Centrums/azNikolaas.jpg" width="200" height="100" />
        <img src="~/Content/images/Centrums/gza.jpg" width="200" height="100" />
        <img src="~/Content/images/Centrums/klina.jpg" width="200" height="100"/>
        <img src="~/Content/images/Centrums/Malle.png" width="200" height="100" />
    </div> <br/>
    <div class="row text-center">
        <img src="~/Content/images/Centrums/monica.png" width="200" height="100" />
        <img src="~/Content/images/Centrums/sjBornem.jpg" width="200" height="100" />
        <img src="~/Content/images/Centrums/UZA.png" width="200" height="100"/>
        <img src="~/Content/images/Centrums/hfamReet.png" width="200" height="100" />
        <img src="~/Content/images/Centrums/univantw.png" width="200" height="100" />
      </div>

</div>

