
@{
    ViewBag.Title = "Vragen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i>Een antwoord op uw vragen...</i></h2>
<div class="pageWrapper">
    <div class="container-fluid">
        <br />
        <h4><b>1. Vraag 1</b></h4>
        <p>antwoord 1 ...</p>
        <br />
        <h4><b>2. Vraag 2</b></h4>
        <p>antwoord 2 ...</p>
        <br />
        <h4><b>3. Vraag 3</b></h4>
        <p>antwoord 3 ...</p>
        <br />
        <h4><b>4. Vraag 4</b></h4>
        <p>antwoord 4 ...</p>
        <br />
        <h4><b>5. Vraag 5</b></h4>
        <p>antwoord 5 ...</p>
        <br />

    </div>
 </div>
 